html {
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Roboto',sans-serif;
}
h1, h2, h3, h4, h5, h6,p { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none; }


img{
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

*, *:before, *:after { box-sizing: border-box; }


.container{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.app{
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.calc{
  border: 1px solid #000;
  padding: 40px;
  border-radius: 20px;
  &-control{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  &__label{
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__input{
    display: block;
    border: 1px solid #000;
    padding: 10px 6px 10px 10px;
    border-radius: 20px;
    transition: .3s;
    &:focus{
      border-color: #62f442;
    }
  }
  &__btn{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    transition: .3s;
    &:hover{
      border-color: #ed0000;
      color:#ed0000;
    }
  }
}
